body {
    background-color: rgb(0, 0, 0);
    color: #fff;
    margin: 0;
    padding-top: 0;
    text-align: center;
}

img {
    width:500px;
    height:400px;
    padding:50px;
}

video {
    width:600px;
    height:500px;
    padding:50px;
}

audio {
    width:100%;
}

.botones-menu {
margin:0 auto;
display: flex;
flex-direction: column;
justify-content: space-around;
width: 50px;
height: 40px;
padding: 10px;
border-radius: 7px;
cursor: pointer;
background-color: rgb(74, 255, 74);

}

.botones-menu span {
    width:40px;
    height: 5px;
    background: #000;
 
  
  
}

.menu-interactivo {
    display:none;
}

.interactivo {
    display: none;
    text-align: center;
    background: rgb(0, 0, 0);
    border: 5px solid rgb(66, 255, 66);
    border-radius: 15px;
    padding: 20px;
    width: 150px;
    margin: 5px auto;
   
}

.interactivo li {
    list-style: none;
    display: block;
    padding: 8px 0;
}

.menu-interactivo:checked + .interactivo {
    display: block;
}

.enlace {
    color: aliceblue;
    font-family: monospace;
   
}

.footer-title {
    color: rgb(99, 230, 99);
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-enlaces {
    font-size: 20px;

}